h1{
	padding:50px;
}


#btn {
  border: 1px solid black;
  background-color: lightblue;
  width: auto;
  height: 40px;
  position: relative;
  top: 20px;
  font-size:20px;

}
.formDiv{
	padding:40px;
	font-size:20px;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
}